

html{
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 1583px;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    z-index:8;
    
    
}
header{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    width: 100%;
    height: 85px;
    
}

footer{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    height: 250px;    
    background-color: black;
}
/*BARRA PRINCIPAL MENU*/
nav.estatico{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    width: 100%;
    height: 85px;
}
nav.sticky{
    position: fixed;
    top:0;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    width: 100%;
    height: 85px;
    z-index: 10;
    min-width: 1583px;
}
nav.barra-principal{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    height: 50px;
    width: 100%;
    background-color: #FF4500 ; /* #00358e;*/ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav.barra-principal ul.lado-izq{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    list-style-type: none;
   
}
nav.barra-principal img{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    height: 80px;
    width: 120px;
}
li.texto-arg{
    position: relative;
    margin: 0;
    padding-top: 30px;
    border: 0px solid red;
    color:white;
    font-family: 'Calibri','sans-serif';
    font-size: 22px;
    font-weight: 400;
    cursor:default;

}
nav.barra-principal ul.lado-der{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li.login{
    position: relative;
    margin: 0;
    padding-right: 15px;
    border: 0px solid red;
    color:white;
    font-family: 'calibri','sans-serif';
    font-size: 22px;
    font-weight: 400;
}
li.login:hover{
    cursor:pointer;
    color:black;
}
li.red-social{
    position: relative;
    margin-right: 30px;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;

}

i.fab.fa-whatsapp{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    color:black ;
    font-size:27px;
}
span.num{
    position: relative;
    margin: 0;
    padding-top: 5px;
    border: 0px solid red;
    color:#DCDCDC  ;
    font-family: 'calibri','sans-serif';
    font-size: 15px;
    font-weight: 400;
    display: block;
    cursor: default;
    
}

/*BARRA NAVEGACION*/
nav.barra-navegacion{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    background-color: black;
    width: 100%;
    height: 35px;
}
ul.menu-navegacion{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    color:white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}
ul.menu-navegacion li {
    position: relative;
    margin: 0;
    padding-top: 4px;
    border:0px solid red;
    font-family: 'verdana';
    font-size: 20px;
    font-weight: 400;
    width: 10%;
}
ul.menu-navegacion li a{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
}
ul.menu-navegacion li a:hover{
    
    cursor:pointer;
}
/*BANNER*/

section.banner{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    

}
div.content-text-banner{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    width: 100%;
    background:url("\assets\img\decoracion\fondo-letra.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
span.texto-banner1{
    position: relative;
    margin: 0;
    padding:0;
    border: 0px solid red;
    display: block;
    font-family: 'Calibri';
    font-size: 100px;
    font-weight: 700;

}
span.texto-banner2{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: block;
    font-family: 'Calibri';
    font-size: 100px;
    font-weight: 700;
    
}

/*TITULOS*/

div.fondo-texto{
    position: relative;
    margin-left: 50px;
    padding:0;
    border: 0px solid red;
    height: 30px;
    width:220px;
    transform: skewX(20deg);
    background-color: #FF4500;
    
}
span.texto-acerca{
    position: relative;
    margin: 0;
    padding:0px;
    border: 0px solid red;
    font-family: 'Calibri';
    font-size: 30px;
    font-weight: 700;
    color:white ;
    
}  
span.texto-exp{
    position:relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    font-family: 'Calibri';
    font-size: 30px;
    font-weight: 700;
}
span.texto-edu{
    position:relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    font-family: 'Calibri';
    font-size: 30px;
    font-weight: 700;
}
span.texto-hab{
    position:relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    font-family: 'Calibri';
    font-size: 30px;
    font-weight: 700;
}
span.texto-proyectos{
    position:relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    font-family: 'Calibri';
    font-size: 30px;
    font-weight: 700;
}
span.titulo-duras{
    position:relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    font-family: 'Calibri';
    font-size: 27px;
    font-weight: 700;
    opacity: 0.8;

}
span.titulo-blandas{
    position:relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    font-family: 'Calibri';
    font-size: 27px;
    font-weight: 700;
    opacity: 0.8;
}
img.decorador-linea{
    position: relative;
    margin: 0;
    padding-top: 1px!important;
    border: 0px solid red!important;
    width:50px!important;
    height: 36px!important;
    display:block;
    float: left;
}
aside.columna-vacia{
    position: relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    width: 10%;

}
div.fila-vacia{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    width: 100%;
    height: 40px;
}

/*ACERCA DE */

section.acerca-de{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    background-color:   black ;
   
}
div.cuerpo-acerca{
    position: relative;
    margin: 0;
    padding-top: 40px;
    border: 0px solid red;
    width: 80%;
}
div.content-acerca{
    position: relative;
    margin: 0;
    padding-left: 50px;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
}
div.content-acerca img{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    border-radius: 50%;
    width:200px;
    height: 200px;
}
p.descripcion-acerca{
    position: relative;
    margin: 0;
    padding-top:20px;
    border: 0px solid red;
    font-family: 'Helvetica';
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    color:white;
}
i.fa-regular.fa-pen-to-square{
    position: absolute;
    top:10px;
    left:99%;
    margin:0;
    padding: 0;
    border: 0px solid red;
    color:white;
    font-size: 24px;
   
    
}




/*SKILLS*/
section.skills{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
}
div.cuerpo-skills{
    position: relative;
    margin: 0;
    padding-top: 40px;
    border: 0px solid red;
    width: 80%;
}
div.titulos-hab{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
span.texto-hab{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: block;
}

div.hab-content{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display:flex;
    flex-direction: row;
    
}
div.hab-duras{
    position: relative;
    margin: 0;
    padding: 0;
    border: 00px solid green;
    display:flex;
    flex-wrap: wrap;
    width:50%;
}
div.hab-blandas{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid green;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height:605px;
}
section.skills img{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    width: 180px;
    height: 180px ;
}
div.hab-duras img{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    width: 200px;
    height: 200px;
    
}
div.hab-blandas img{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    width: 200px;
    height: 200px;
}
section.skills i.fa-regular.fa-pen-to-square{
    position: absolute;
    top:10px;
    left:99%;
    margin:0;
    padding: 0;
    border: 0px solid red;
    font-size: 24px;
    color:inherit;
   
    
}


/*EDUCACION*/
section.educacion{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    background-color:black  ;
    color:white;
}
div.cuerpo-edu{
    position: relative;
    margin: 0;
    padding-top: 40px;
    border: 0px solid red;
    width: 80%;
}
/*
span.text-cursos{
    position: relative;
    margin-bottom: 10px;
    padding-left: 50px;
    border: 0px solid red;
    display: block;
    font-family: 'Helvetica';
    font-size: 22px;
    font-weight: 700;
}

span.curso{
    position: relative;
    margin: 0;
    padding-left: 54px;
    padding-top: 2px;
    border: 0px solid red;
    display:block;
    font-family: 'Helvetica';
    font-size: 22px;
    font-weight: 600;
    float:left;
    z-index:7;
}
*/
span.nombre-instituto{
    border:0px solid red;
    font-size:22px;
}

span.nombre-curso{
    border:0px solid red;
    color:#FF4500;
    font-size: 18px;
    font-weight: 600;
}
ul.modulos-curso{
    position: relative;
    margin-top: 10px;
    padding-left: 20px;
    border:0px solid red;
    font-family: 'Helvetica';
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
}


div.content-curso{
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px solid white;
    display: flex;
    flex-direction: row;
    width:40%;
}

div.logo-instituto img{
    position: relative;
    margin: 0;
    padding: 0;
    width:100px;
    height: 100px;
}

div.datos-curso{
    position: relative;
    margin: 0;
    padding-left: 20px;
    display:flex;
    flex-direction: column;
}

/*EXPERIENCIA*/
section.experiencia{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
}
div.cuerpo-exp{
    position: relative;
    margin: 0;
    padding-top: 40px;
    border: 0px solid red;
    width: 80%;
}
div.content-trabajo{
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 50px;
    padding-left: 50px;
    width: 40%;
    border:1px solid black;
    display: flex;
    flex-direction: row;
}
div.logo-empresa img{
    position: relative;
    margin: 0;
    padding: 0;
    width:100px;
    height: 100px;
}
div.datos-trabajo{
    position: relative;
    margin: 0;
    padding-left: 20px;
    display:flex;
    flex-direction: column;
}
span.puesto{
    position: relative;
    margin: 0;
    padding: 0;
    display:block;
    font-family: 'Helvetica';
    font-size: 22px;
    font-weight: 700;
    line-height: 1.8;
}
span.empresa-jornada{
    position: relative;
    margin: 0;
    padding: 0;
    display:block;
    font-family: 'Helvetica';
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
}
span.tiempo-inicio-fin{
    position: relative;
    margin: 0;
    padding: 0;
    display:block;
    font-family: 'Calibri';
    font-size: 18px;
    font-weight: 600;
    line-height: 1.8;
}
section.experiencia i.fa-regular.fa-pen-to-square{
    position: absolute;
    top:10px;
    left:99%;
    margin:0;
    padding: 0;
    border: 0px solid red;
    font-size: 24px;
    color:inherit;
   
    
}

span.cruz{
    color:black;
}
/*PROYECTOS*/
section.proyectos{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    background-color:black  ;
    color:white;
}
div.cuerpo-proyectos{
    position: relative;
    margin: 0;
    padding-top: 40px;
    border: 0px solid red;
    width: 80%;
}
div.content-proyectos{
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 0px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    
}
span.proyecto{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    color:#FF4500;
    font-family: 'Helvetica';
    font-size: 22px;
    font-weight: 600;
    line-height: 1.8;
    display: block;

}
a.enlace-proyecto{
    position: relative;
    margin: 0;
    margin-top:5px;
    padding: 0;
    border: 0px solid red;
    color:white;
    display: block;
}
a.enlace-proyecto:hover{
    color:#FF4500;
    cursor:pointer;
}
p.descripcion-proyecto{
    position: relative;
    margin: 0;
    padding:0;
    border: 0px solid red;
    font-family: 'Gill Sans';
    font-size: 18px;
    font-weight: 100;
    line-height: 1.8;
}
div.content-proyectos img{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    max-width: 250px;
    display: block;
}

/*FOOTER*/

div.info{
    position: absolute;
    top:40px;
    left:200px;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
}
div.info i.fab.fa-whatsapp{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    color:#FF4500 ;
    font-size:27px;
    
}
div.info i.far.fa-envelope{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    color:#FF4500;
    font-size: 27px;
}
div.info ul li{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;

}
p.text-footer{
    position: absolute;
    bottom: 10px;
    left:650px;
    margin: 0;
    padding: 0;
    border:0px solid red;
    color:white;
    font-family: 'Helvetica';
    font-size: 14px;
    font-weight: 400;
}
span.correo{
    position: relative;
    margin: 0;
    padding-left:5px;
    padding-top: 5px;
    border:0px solid red;
    color:white;
    font-family: 'Helvetica';
    font-size: 14px;
    font-weight: 400;
}
span.num-footer{
    position: relative;
    margin: 0;
    padding-left:5px;
    padding-top: 5px;
    border: 0px solid red;
    color:white;
    font-family: 'Helvetica';
    font-size: 14px;
    font-weight: 400;
}
/*VENTANAS DE EDICION*/
i.fa-solid.fa-xmark{
    position: relative;
    left:98%;
    margin: 0;
    padding: 0;
    color:white;
	font-weight:bold;
	font-size:20px;
	border:0px solid red;
}
div.ventana-edit{
    position: fixed;
    z-index:15;
    left:0;
    top:0;
    width:100%;
	height:100%;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
	overflow:auto;
    
}
div.content-edit{
    position:relative;
	background-color:#FF4500;
	margin:15% auto;
	padding:20px;
	border:3px solid black;
	border-radius:30px;
	width:80%;
}
/*Ventana acerca edit*/


div.formulario-acerca{
    position: relative;
    margin: 0;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 0;
    border:0px solid red;
    color:white;
    width: 80%;

}

form.form-edit-acerca{
    position: relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    display: flex;
    flex-direction: column;
}
label.label-edit-acerca{
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    border:0px solid red;
    font-size: 22px;

}
div.textarea-edit-acerca{
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border:0px solid red;
}
div.textarea-edit-acerca textarea{
    width: 100%;
}
div.content-btn-edit-acerca{
    position: relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    display: flex;
    flex-direction: row-reverse;
   
}

/*Ventana educacion edit*/

div.formulario-edu{
    position:relative;
    margin:0;
    padding: 0;
    border: 0px solid red;
    color:white;
}

div.content-flex-cursos{
    position: relative;
    margin: 0;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    background-color: #da4e1bd0;
    display:flex;
    flex-direction: row;

}

div.content-cursos-edit{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid black;
    width: 80%;
    display: flex;
    flex-direction: column;
    

}

div.content-btn-edit{
    position: relative;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    padding-right: 8px;
    border: 0px solid red;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
form.form-curso-edit{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
}
form.form-curso-edit label{
    position: relative;
    margin: 0;
    margin-bottom: 5px;
    margin-top:5px;
    padding: 0;
    color:black;
    border: 0px solid red;

}

form.form-curso-edit input{
    border:0px solid red;
}
form.form-curso-edit button{
    margin-top: 10px;
    margin-bottom: 30px;
}
form.form-curso-edit input{
    width: 70%;
}
form.form-curso-edit textarea{
    width: 70%;
}
form.form-curso-edit button{
    width: 20%;
}

div.content-crear{
    position: relative;
    margin: 0;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    background-color: #da4e1bd0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


div.content-crear span{
    position: relative;
    margin: 0;
    padding: 0;
    width: 20%;
}
div.content-crear div.btn-crear{
    position: relative;
    margin: 0;
    padding: 0;
    width: 10%;
}

i.fa-regular.fa-square-plus{
    position: relative;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    font-size: 30px;
    color:white;
    
}

div.content-btn-costado{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
}
span.nombre-instituto-edit{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}
span.nombre-instituto-edit span{
    font-size: 20px;
    color:#000033;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span.nombre-curso-edit{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}

span.nombre-curso-edit span{
    font-size: 20px;
    color:#000033;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Ventana experiencia edit*/

span.nombre-empresa-edit{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}
span.nombre-empresa-edit span{
    font-size: 20px;
    color:#000033;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span.puesto-edit{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}

span.puesto-edit span{
    font-size: 20px;
    color:#000033;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span.span-anadir{
    position: relative;
    margin-bottom: 10px!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}

/* Ventana habilidad edit */

div.content-hab-edit{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    width: 90%;
}

div.hab-duras-opc{
    position: relative;
    margin: 0;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
    background-color: #da4e1bd0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.hab-blandas-opc{
    position: relative;
    margin: 0;
    margin-top: 20px;
    margin-left: 30px;
    padding: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
    background-color: #da4e1bd0;
    display: flex;
    flex-direction: column;
    
}
div.content-hab-opc-edit{
    position: relative;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    border: 0px solid black;
    width: 80%;
    color:black;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
div.content-btn-hab-edit{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.content-btn-hab-edit button{
    margin-left: 10px;
}
span.span-hab-blanda{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: black;
}

/* Ventana proyecto edit */

span.proyecto-edit{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}
span.proyecto-edit span{
    font-size: 20px;
    color:#000033;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Inicio-sesion*/

div.fondo-login{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0px solid red;
    background-image: linear-gradient(to bottom right, #ff6a00, #ff6a00,#ff6a00,orange,#FFBF00, yellow);
    width: 100%;
    height:1000px;
    
}
div.content-form-login{
    position: relative;
    top:200px;
    left:500px;
    padding: 30px;
    border:4px solid black;
    border-radius: 30px;
    width:40%;
    background-image: linear-gradient(to bottom right,black,#000033,#000033,#2c3e50,#566573,#566573);
   

}

div.content-input{
    width: 60%;
}

form.form-login{
    position: relative;
    margin: 0;
    padding: 0;
    border:0px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.content-btn-login{
    position: relative;
    margin-left: 35%;
    margin-top: 20px;
    padding: 0;
    border:0px solid black;
    width: 20%;
    display: flex;
    justify-content: center;
}
div.content-input-login{
    position: relative;
    margin-left: 30%;
    margin-top: 20px;
    padding: 0;
    border:0px solid black;
    width: 60%;
}
label.label-login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:white;

}

