<div class="fila-vacia"></div>

       <footer>
            
            <div class="info">
                <ul>    
                    <li><i class="fab fa-whatsapp" id="whatsapp"></i><span class="num-footer">+(54)-261-3355190</span></li>
                    <li><i class="far fa-envelope" id=email></i><span class="correo">cristian94lpz@gmail.com</span></li>
                </ul>
            </div>

            <p class="text-footer">Cristian Lopez - Desarrollador de paginas web.</p>
       </footer>  